/* @font-face {
  font-family: "JimmyCollins";
  font-weight: normal;
  font-display: swap;
  src: url("./JimmyCollins.otf") format("opentype");
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  line-height: 1;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
}
body:before {
  content: "";
  display: block;
  background-attachment: scroll;
  height: var(--background-height);
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100vw;
  z-index: 0;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8)
    ),
    url("bg.jpg");
  background-position: 0% 0%, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-color: #ffffff;
}

body:after {
  background-color: #000000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  transition: opacity 2s ease-in-out 1s, visibility 2s 1s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.logos img {
  width: 14rem;
}
body.is-loading:after {
  opacity: 1;
  visibility: visible;
}
:root {
  --background-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --site-language-margin-left: 0;
  --site-language-margin-right: auto;
  --viewport-height: 100vh;
}
html {
  font-size: 18pt;
}
u {
  text-decoration: underline;
}
strong {
  color: inherit;
  font-weight: bolder;
}
em {
  font-style: italic;
}

mark {
  background-color: rgba(144, 144, 144, 0.25);
}
spoiler-text {
  -webkit-text-stroke: 0;
  background-color: rgba(32, 32, 32, 0.75);
  text-shadow: none;
  text-stroke: 0;
  color: transparent;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
spoiler-text.active {
  color: #ffffff;
  cursor: text;
}
s {
  text-decoration: line-through;
}
sub {
  font-size: smaller;
  vertical-align: sub;
}
sup {
  font-size: smaller;
  vertical-align: super;
}
a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.25s ease;
}
a[onclick]:not([href]) {
  cursor: pointer;
}
unloaded-script {
  display: none;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--viewport-height);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#main {
  --alignment: center;
  --flex-alignment: center;
  --indent-left: 1;
  --indent-right: 1;
  --margin-left: auto;
  --margin-right: auto;
  --border-radius-tl: 0;
  --border-radius-tr: 0;
  --border-radius-br: 0;
  --border-radius-bl: 0;
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  max-width: 100%;
  position: relative;
  text-align: var(--alignment);
  z-index: 1;
  transition: opacity 1s ease-in-out 0s;
}
#main > .inner {
  --padding-horizontal: 5rem;
  --padding-vertical: 6.5rem;
  --spacing: 7rem;
  --width: 61rem;
  border-radius: var(--border-radius-tl) var(--border-radius-tr)
    var(--border-radius-br) var(--border-radius-bl);
  max-width: 100%;
  position: relative;
  width: var(--width);
  z-index: 1;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > * {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

#main > .inner iframe {
  width: 100%;
  min-height: 680px;
}

#main > .inner > :first-child {
  margin-top: 0 !important;
}
#main > .inner > :last-child {
  margin-bottom: 0 !important;
}
#main > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
  width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}
#main > .inner > .full:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin-top: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full.screen {
  border-radius: 0 !important;
  max-width: 100vw;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  right: auto;
}
body.is-loading #main {
  opacity: 0;
}
body.is-instant #main,
body.is-instant #main > .inner > *,
body.is-instant #main > .inner > section > * {
  transition: none !important;
}
body.is-instant:after {
  display: none !important;
  transition: none !important;
}

h1,
h2,
h3,
p {
  direction: var(--site-language-direction);
  position: relative;
}
h1 span.p,
h2 span.p,
h3 span.p,
p span.p {
  display: block;
  position: relative;
}
h1 span[style],
h2 span[style],
h3 span[style],
p span[style],
h1 strong,
h2 strong,
h3 strong,
p strong,
h1 a,
h2 a,
h3 a,
p a,
h1 code,
h2 code,
h3 code,
p code,
h1 mark,
h2 mark,
h3 mark,
p mark,
h1 spoiler-text,
h2 spoiler-text,
h3 spoiler-text,
p spoiler-text {
  -webkit-text-fill-color: currentcolor;
}

.image {
  display: block;
  line-height: 0;
  max-width: 100%;
  position: relative;
}
.image .frame {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  vertical-align: top;
  width: 100%;
}
.image .frame img {
  border-radius: 0 !important;
  max-width: 100%;
  vertical-align: top;
  width: inherit;
}
.image.full .frame {
  display: block;
}
.image.full:first-child .frame {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.image.full:last-child .frame {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
#imageLogoContainer:not(:first-child) {
  margin-top: 1.75rem !important;
}
#imageLogoContainer:not(:last-child) {
  margin-bottom: 1.75rem !important;
}
#imageLogoContainer .frame {
  width: 15rem;
  transition: none;
}
#imageLogoContainer .frame img {
  transition: none;
}
.roundImage .frame {
  width: 20rem;
  border-radius: 100%;
  transition: none;
  box-shadow: 0px 0px 15px red;
}

.roundImage .frame img {
  transition: none;
  filter: sepia(0.4);
}

#SiteHeader {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.45rem;
  width: calc(100% + 0.45rem);
  font-size: 5.25em;
  line-height: 1.25;
  font-weight: 900;
  display: none;
}

#SiteHeader a {
  text-decoration: underline;
}
#SiteHeader a:hover {
  text-decoration: none;
}
#SiteHeader span.p:nth-child(n + 2) {
  margin-top: 1rem;
}
#introText {
  color: rgb(255 73 73 / 95%);
  font-size: 2.25em;
  line-height: 1.5;
  font-weight: 200;
}
#introText a {
  text-decoration: underline;
}
#introText a:hover {
  text-decoration: none;
}
#introText span.p:nth-child(n + 2) {
  margin-top: 1rem;
}
.sectionText {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.275rem;
  width: calc(100% + 0.275rem);
  font-size: 2.25em;
  line-height: 1.25;
  font-weight: 900;
}
.sectionText a {
  text-decoration: underline;
}
.sectionText a:hover {
  text-decoration: none;
}
.sectionText span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

.sectioSubtext {
  color: rgb(255 255 255);
  font-size: 1em;
  line-height: 1.625;
  font-weight: 200;
  /* font-family: monospace; */
  text-align: left;
}
.sectioSubtext a {
  text-decoration: underline;
}
.sectioSubtext a:hover {
  text-decoration: none;
}
.sectioSubtext span.p:nth-child(n + 2) {
  margin-top: 1rem;
}

hr {
  align-items: center;
  border: 0;
  display: flex;
  justify-content: var(--flex-alignment);
  min-height: 1rem;
  padding: 0;
  position: relative;
  width: 100%;
}
hr:before {
  content: "";
}
#divider03:not(:first-child) {
  margin-top: 0.25rem !important;
}
#divider03:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
#divider03:before {
  width: 4rem;
  background-color: #d46679;
  height: 2px;
  border-radius: 0px;
}
#divider02:not(:first-child) {
  margin-top: 0.25rem !important;
}
#divider02:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
#divider02:before {
  width: 4rem;
  background-color: #d46679;
  height: 2px;
  border-radius: 0px;
}
#divider04:not(:first-child) {
  margin-top: 0.25rem !important;
}
#divider04:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
#divider04:before {
  width: 4rem;
  background-color: #d46679;
  height: 2px;
  border-radius: 0px;
}
#divider01:not(:first-child) {
  margin-top: 0.25rem !important;
}

#divider01:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
#divider01:before {
  width: 4rem;
  background-color: #d46679;
  height: 2px;
  border-radius: 0px;
}
#divider05:not(:first-child) {
  margin-top: 0.25rem !important;
}
#divider05:not(:last-child) {
  margin-bottom: 0.25rem !important;
}
#divider05:before {
  width: 4rem;
  background-color: #d46679;
  height: 2px;
  border-radius: 0px;
}
.container {
  position: relative;
}
.container > .wrapper {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
}
.container > .wrapper > .inner {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
  /* text-align: var(--alignment); */
}
#main .container.full:first-child > .wrapper {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
#main .container.full:first-child > .wrapper > .inner {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper > .inner {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.columnsCommon {
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
  margin-bottom: 3rem;
}
.columnsCommon > .wrapper {
  display: inline-block;
  width: 51rem;
  background-color: transparent;
}
.columnsCommon > .wrapper > .inner {
  --gutters: 3rem;
  --padding-horizontal: 0rem;
  --padding-vertical: 0rem;
  --spacing: 1rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}
.columnsCommon.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}
.columnsCommon.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}
.columnsCommon.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}
.columnsCommon.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.columnsCommon.columns:nth-child(even) > .wrapper > .inner {
  flex-direction: row-reverse;
}

.columnsCommon.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}
.columnsCommon.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}
.columnsCommon.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
}
.columnsCommon.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}
.columnsCommon.columns > .wrapper > .inner > *:first-child {
  margin-left: calc(var(--gutters) * -1);
}
.columnsCommon.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}
.columnsCommon.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.columnsCommon.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.columnsCommon.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}
.columnsCommon.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(
    100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
  );
}
.columnsCommon.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(
    100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
  );
}
.columnsCommon.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}
.columnsCommon.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
.columnsCommon.columns > .wrapper > .inner > .full {
  align-self: stretch;
}
.columnsCommon.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.columnsCommon.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
.columnsCommon.columns
  > .wrapper
  > .inner
  > .full
  > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + (var(--padding-vertical) * 2));
}
.columnsCommon.columns
  > .wrapper
  > .inner
  > .full
  > .full:first-child:last-child
  > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}
.columnsCommon > .wrapper > .inner > :nth-child(1) {
  width: calc(40% + (var(--gutters) / 2));
  --alignment: right;
  --flex-alignment: flex-end;
  --indent-left: 0;
  --indent-right: 1;
  --margin-left: auto;
  --margin-right: 0;
}
.columnsCommon > .wrapper > .inner > :nth-child(2) {
  width: calc(60% + (var(--gutters) / 2));
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
}

.buttons {
  cursor: default;
  display: flex;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  padding: 0;
}
.buttons li {
  max-width: 100%;
  text-align: var(--alignment);
}
.buttons li a {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
#buttons01 {
  gap: 0.75rem;
  flex-direction: row;
  flex-wrap: wrap;
}
#buttons01:not(:first-child) {
  margin-top: 2.125rem !important;
}
#buttons01:not(:last-child) {
  margin-bottom: 2.125rem !important;
}
#buttons01 li a {
  display: inline-block;
  width: 16rem;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 0.5rem;
  vertical-align: middle;
  text-transform: uppercase;

  letter-spacing: 0.275rem;
  padding-left: calc(0.275rem + 0.5rem);
  font-size: 0.875em;
  font-weight: 900;
  border-radius: 0.25rem;
  direction: var(--site-language-direction);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
}
#buttons01 .button {
  background-color: #d46679;
  color: #ffffff;
}
#buttons01 .button:hover {
  background-color: #de7386 !important;
}
#buttons01 .n01 {
  background-color: #128c0f;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  padding: 0;
}
.icons li {
  position: relative;
  z-index: 1;
}
.icons li a {
  align-items: center;
  display: flex;
  justify-content: center;
}
.icons li a svg {
  display: block;
  position: relative;
}
.icons li a + svg {
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.icons li a .label {
  display: none;
}
#icons01 {
  font-size: 1.5em;
  gap: 1.25rem;
}
#icons01:not(:first-child) {
  margin-top: 2.625rem !important;
}
#icons01:not(:last-child) {
  margin-bottom: 2.625rem !important;
}
#icons01 li a {
  height: 1em;
  width: 1em;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
}
#icons01 li a svg {
  height: 100%;
  width: 100%;
  transition: fill 0.25s ease;
}
#icons01 a svg {
  fill: #ffffff;
}
#icons01 a:hover svg {
  fill: #d46679 !important;
}
#icons01 li a + svg {
  transition: fill 0.25s ease, stroke 0.25s ease;
}
.icc-credits {
  display: block;
  opacity: 1 !important;
  position: relative;
  transition-delay: 0s !important;
}
.icc-credits span {
  border-radius: 24px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1;
  position: relative;
  text-decoration: none;
  width: auto;
}
.icc-credits span a {
  display: inline-block;
  padding: 0.5em 0.375em;
  position: relative;
  text-decoration: none;
  transition: color 0.25s ease, transform 0.25s ease;
  z-index: 1;
}
.icc-credits span a:before {
  content: "( ";
  opacity: 1;
  transition: opacity 0.25s ease;
}
.icc-credits span a:after {
  content: " )";
  opacity: 1;
  transition: opacity 0.25s ease;
}
.icc-credits span::after {
  background-image: linear-gradient(30deg, #a464a1 15%, #3b5dad 85%);
  border-radius: inherit;
  box-shadow: 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: calc(100% + 2px);
  left: -1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -1px;
  transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
  width: calc(100% + 2px);
}
.icc-credits span:hover {
  text-transform: none !important;
}
.icc-credits span:hover a {
  color: #ffffff !important;
  transform: scale(1.1) translateY(-0.05rem);
}
.icc-credits span:hover a:before {
  opacity: 0;
}
.icc-credits span:hover a:after {
  opacity: 0;
}
.icc-credits span:hover::after {
  opacity: 1;
  transform: scale(1.1) translateY(-0.05rem);
}
#credits span {
  color: rgba(255, 255, 255, 0.498);
  margin-top: 1.5rem !important;
}

.downloadText {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 15px;
}
.downloadContainer {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 4rem;
  color: white;
  /* text-decoration: none; */
  font-size: 1rem;
  background-color: #412d2d;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.downloadContainer:hover {
  color: red;
}

.downloadDesc {
  font-size: 2.3rem;
  /* margin-bottom: 10rem; */
}

.downloadIcon {
  width: 5rem;
  border-radius: 0; /* Normal image with no rounding */
  transform: scale(1) rotate(0deg); /* Initial state */
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Consistent transition */
}

.downloadsWrapper {
  display: flex;
  flex-direction: column;
}

.downloadContainer:hover img {
  transform: scale(1.1) rotate(360deg);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth and snappy */
}

@media (max-width: 1680px) {
  #main > .inner iframe {
    min-height: 500px;
  }
  .sectioSubtext {
    font-size: 1.3em;
  }
  .roundImage .frame {
    width: 18rem;
  }
  html {
    font-size: 13pt;
  }
}

@media (max-width: 1280px) {
  #main > .inner iframe {
    min-height: 436px;
  }
  .roundImage .frame {
    width: 16rem;
  }
  html {
    font-size: 13pt;
  }
}

@media (max-width: 980px) {
  #main > .inner iframe {
    min-height: 330px;
  }
  .roundImage .frame {
    width: 14rem;
  }
  html {
    font-size: 11pt;
  }
}
@media (max-width: 736px) {
  #main > .inner iframe {
    min-height: 292px;
  }
  .sectioSubtext {
    font-size: 1.1em;
  }
  .roundImage .frame {
    width: 10rem;
  }
  html {
    font-size: 11pt;
  }

  #main > .inner {
    --padding-horizontal: 2rem;
    --padding-vertical: 4rem;
    --spacing: 2rem;
  }
  #imageLogoContainer:not(:first-child) {
    margin-top: 0.75rem !important;
  }
  #imageLogoContainer:not(:last-child) {
    margin-bottom: 0.75rem !important;
  }
  .logos {
    display: flex;
    justify-content: center;
  }

  .logos img {
    width: 9rem;
  }
  #imgBrowsers .frame {
    width: 16rem;
  }
  #imgSocialNetworks .frame {
    width: 16rem;
  }
  #SiteHeader {
    letter-spacing: 0.39375rem;
    width: calc(100% + 0.39375rem);
    font-size: 2.25em;
    line-height: 1.25;
  }
  #introText {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 1.25em;
    line-height: 1.5;
  }
  .sectionText {
    letter-spacing: 0.240625rem;
    width: calc(100% + 0.240625rem);
    font-size: 1.25em;
    line-height: 1.25;
  }
  #text03 {
    letter-spacing: 0.240625rem;
    width: calc(100% + 0.240625rem);
    font-size: 1.25em;
    line-height: 1.25;
  }

  #divider03:not(:first-child) {
    margin-top: 0.25rem !important;
  }
  #divider03:not(:last-child) {
    margin-bottom: 0.25rem !important;
  }
  #divider03:before {
    width: 4rem;
  }
  #divider02:not(:first-child) {
    margin-top: 0.25rem !important;
  }
  #divider02:not(:last-child) {
    margin-bottom: 0.25rem !important;
  }
  #divider02:before {
    width: 4rem;
  }
  #divider04:not(:first-child) {
    margin-top: 0.25rem !important;
  }
  #divider04:not(:last-child) {
    margin-bottom: 0.25rem !important;
  }
  #divider04:before {
    width: 4rem;
  }
  #divider01:not(:first-child) {
    margin-top: 0.25rem !important;
  }
  #divider01:not(:last-child) {
    margin-bottom: 0.25rem !important;
  }
  #divider01:before {
    width: 4rem;
  }
  #divider05:not(:first-child) {
    margin-top: 0.25rem !important;
  }
  #divider05:not(:last-child) {
    margin-bottom: 0.25rem !important;
  }
  #divider05:before {
    width: 4rem;
  }
  .columnsCommon {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --margin-left: auto;
    --margin-right: auto;
  }
  .columnsCommon > .wrapper > .inner {
    --gutters: 2.25rem;
    --padding-horizontal: 0rem;
    --padding-vertical: 0rem;
    --spacing: 1rem;
  }
  .columnsCommon.columns > .wrapper > .inner {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
  .columnsCommon.columns > .wrapper > .inner > span {
    height: 0;
    margin-top: calc(var(--gutters) * -1);
    pointer-events: none;
    visibility: hidden;
  }
  .columnsCommon.columns > .wrapper > .inner > *:first-child {
    margin-left: 0 !important;
    padding-top: 0 !important;
  }
  .columnsCommon.columns > .wrapper > .inner > * {
    padding: calc(var(--gutters) * 0.5) 0 !important;
  }
  .columnsCommon.columns > .wrapper > .inner > *:last-child {
    padding-bottom: 0 !important;
  }
  .columnsCommon.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }
  .columnsCommon.columns > .wrapper > .inner > div:first-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }
  .columnsCommon.columns > .wrapper > .inner > div:last-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }
  .columnsCommon.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--gutters) * -0.5) !important;
  }
  .columnsCommon.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--gutters) * -0.5) !important;
  }
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
  }
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }
  .columnsCommon.columns > .wrapper > .inner > div:first-of-type,
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .columnsCommon.columns > .wrapper > .inner > div:last-of-type,
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
  .columnsCommon.columns > .wrapper > .inner > div:first-of-type,
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:last-child {
    border-bottom-left-radius: 0 !important;
  }
  .columnsCommon.columns > .wrapper > .inner > div:last-of-type,
  .columnsCommon.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:first-child {
    border-top-right-radius: 0 !important;
  }
  .columnsCommon.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child {
    height: auto;
  }
  .columnsCommon.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child
    > * {
    height: auto;
    position: relative;
    width: auto;
  }
  .columnsCommon > .wrapper > .inner > :nth-child(1) {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --margin-left: auto;
    --margin-right: auto;
    min-height: 100% !important;
    width: 100% !important;
  }
  .columnsCommon > .wrapper > .inner > :nth-child(2) {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --margin-left: auto;
    --margin-right: auto;
    min-height: 100% !important;
    width: 100% !important;
  }
  #buttons01 {
    gap: 0.75rem;
  }
  #buttons01:not(:first-child) {
    margin-top: 1.59375rem !important;
  }
  #buttons01:not(:last-child) {
    margin-bottom: 1.59375rem !important;
  }
  #buttons01 li a {
    letter-spacing: 0.275rem;
    padding-left: calc(0.275rem + 0.5rem);
    font-size: 0.875em;
  }
  #icons01 {
    font-size: 1.5em;
    gap: 1.25rem;
  }
  #icons01:not(:first-child) {
    margin-top: 1.96875rem !important;
  }
  #icons01:not(:last-child) {
    margin-bottom: 1.96875rem !important;
  }
}

@media (max-width: 480px) {
  #main > .inner iframe {
    min-height: 206px;
  }

  .roundImage .frame {
    width: 10rem;
  }
  #main > .inner {
    --spacing: 1.75rem;
  }
  .columnsCommon > .wrapper > .inner {
    --spacing: 0.875rem;
  }
  #buttons01 li a {
    width: 17rem;
  }
}

@media (max-width: 360px) {
  #main > .inner iframe {
    min-height: 183px;
  }
  .roundImage .frame {
    width: 10rem;
  }

  #main > .inner {
    --padding-horizontal: 1.5rem;
    --padding-vertical: 3rem;
    --spacing: 1.5rem;
  }
  #SiteHeader {
    font-size: 2em;
  }
  #introText {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .sectionText {
    font-size: 2.25em;
  }

  .columnsCommon > .wrapper > .inner {
    --gutters: 2.25rem;
    --padding-horizontal: 0rem;
    --padding-vertical: 0rem;
    --spacing: 0.75rem;
  }
  #buttons01 {
    gap: 0.5625rem;
  }
  #icons01 {
    gap: 0.9375rem;
  }
}
