.kofiBtn {
  box-shadow:
    0 0 40px rgba(255, 255, 255, 0.7),
    0 0 100px rgba(255, 255, 255, 0.25);
}

.kofiBtn:hover {
  box-shadow:
    0 0 120px rgba(255, 255, 255, 1),
    0 0 280px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.brickImage:hover {
  transform: scale(1.1);
}
