<div class="alert alert-warning bot-tracking-no-recent-requests-message">
    {{ 'BotTracking_NoRecentAIBotRequests'|translate('<strong>', '</strong>', '<a href="' ~ noDataUrl ~ '">', '</a>')|raw }}
</div>
