<div
    vue-entry="Live.SimpleRealtimeVisitorWidget"
    refresh-after-x-secs="{{ refreshAfterXSecs|default(null)|json_encode }}"
    last-minutes="{{ lastMinutes|default(null)|json_encode }}"
></div>
